<div class="ui center aligned container" style="margin-top:30vh; min-height: 60%;">
  <div class="ui centered stackable grid">
    <div class="ten wide column">
      <h2 class="ui header"> Review downloader</h2>
      <div class="ui fluid action input">
        <input name="searchControl" minlength="10" style=" font-size: 1.3rem;" #searchControl='ngModel' [(ngModel)]="search" placeholder="Enter URL..."
          type="search">
        <div (click)="startSearch(search)" [ngClass]="{'disabled': (isAndriod(search) && !hasAndriodId(search)) || (isIOS(search) && hasAndriodId(search))}"
          class="ui button teal">Submit</div>
      </div>
      <p *ngIf='message && (searchControl.dirty || searchControl.touched)' class="ui" style="color:red">{{message}}</p>
    </div>
    <div>
    </div>
  </div>
</div>