<div class="ui right aligned container" style="margin-top:1rem">
<div class="ui buttons">
  <button class="ui button"><i class="history left icon"></i>History</button>
  <button class="ui button"> <i class="cog left icon"></i>Setting</button>
</div>
</div>
<div class="ui center aligned container" style="margin-top:30vh;">

  <div class="ui centered stackable grid">
    <div class="ten wide column">
      <h2 class="ui header"> Review downloader</h2>
      <div class="ui fluid action input">
        <input placeholder="Search..." type="text">
        <div class="ui button teal">Search</div>
      </div>
     
    </div>
    
  </div>
</div>
<div class="ui vertical footer center aligned  segment">
   Developed by Ifeanyi - 2018
</div>